
.container3 {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    margin-right: 40px;
}

.section-mentions1 {
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    background-color: #fff;
    border-radius: 40px;
    width: 30%;
    padding: 30px;
    margin: 20px auto; /* Centre le texte */
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 580px) {
    .section-mentions1 {
       width: 50%;
    }
  }