/* ABOUT */
.container2 {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .profile-header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
  }
  
  .section {
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
  }
  
  .section-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 32px;
    text-decoration: underline;
  }
  
  .interests {
    list-style-type: none;
    padding: 0;
  }
  
  .interests li {
    margin-bottom: 5px;
  }
  
  .corner-flower {
    position: absolute;
    width: 70px;
    height: 70px;
    animation: rotate 7s linear infinite;
  }
  
  .flower-top-left {
    top: -25px;
    left: -25px;
  }
  
  .flower-bottom-right {
    bottom: -25px;
    right: -25px;
  }
  
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .textabout {
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
  }