.cloud-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    background: white;
    border-radius: 50px;
    position: relative;
    height: 450px;
}

.cloud-container::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: white;
    border-radius: 70px;
    z-index: -1;
}

.form-group {
    margin-bottom: 20px;
}

.Form {
    font-size: 30px;
    padding-top: 0px;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #7FB8F2;
    border-radius: 4px;
    font-family: inherit;
}

button {
    background-color: #7FB8F2;
    color: white;
    padding: 15px 30px;  
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;  
    font-size: 1.2rem;   
}

.success-message {
    color: green;
    text-align: center;
    margin-bottom: 20px;
}

/* Modale */
.modal1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.5s ease;
  }
  
  .modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }