/* NAV */
.navbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.navbar li {
  margin: 10px 8px;
  flex-grow: 1;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #F5B8B8;
  font-weight: bold;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 327px) {
  .navbar {
      width: 95%;
      top: 5px;
      padding-left: 0px;
      padding-right: 0px;
  }


}
  
  